go 1.20

use (
	./ants
	./aurora
	./badger
	./beanstalkd
	./bigcache
	./buitin
	./canal
	./casbin
	./clickhouse
	./cron
	./dtm
	./elasticsearch
	./etcd
	./excelize
	./gin
	./gjson
	./go-zero
	./gods
	./gopsutil
	./goreleaser
	./gorm
	./grpc
	./jwt
	./kafka
	./mysql
	./nsq
	./pulsar
	./rabbitmq
	./redis
	./rocketmq
	./rpc
	./smtp
	./testify
	./uuid
	./validator
	./viper
	./websocket
	./zap
)
